.login__facebook {
  width: 300px;
  height: 50px;
  background: #3b5998;
}

.password {
  display: block;
  margin-top: 10px;
}

.login {
  text-align: center;
}

.sign-in-btn {
  margin-top: 10px;
}