<div class="login">
  <form class="form" action="">
    <div class="username ui labeled input">
      <div class="ui label">
        Username
      </div>
      <input type="text" id="username" />
    </div>
    <div class="password ui labeled input">
      <div class="ui label">
        Password
      </div>
      <input type="password" id="password">
    </div>
    <button class="sign-in-btn ui button" type="submit">Sign in</button>
  </form>
  <button class="login__facebook ui button" (click)="onLogin()">Facebook</button>
  <button class="ui button" (click)="onLogout()">Logout</button>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
</div>
